.inicio {

    position: relative;
    background-image: url('../../build/img/fondos/fachera.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 60rem;
    overflow: hidden;

   

    .overlay{
        position: absolute;
        width: 100%;
        height: 100%;

        @include tablet{
            width: 40rem;
        }
    }
}

.contenido-inicio{
        
        display: flex;
        flex-direction: column;
        justify-content: center;


        p{
            color: $blanco;
            font-weight: 600;
        }

        h2{
            color: $blanco;
            font-weight: 700;
            max-width: 50rem;
        }

        a{
            width: 20%;
        }

        

        
    }

@include phone{
    .inicio{
        height: 30rem;
    }

    .contenido-inicio{
        p{
            font-size: 1rem;
        }

        h2{
            font-size: 2rem;
            width: 20rem;
        }

        a{
            width: 40%;
        }

    }
}