@use '../base/variables' as v;
@use '../base/mixins' as m;

.subtitulo-h3{
    font-weight: bold;
    text-transform: uppercase;
    color: v.$verdeOscuro;
    margin-top: 1rem;
    text-align: center;
}

.grid-categorias{

    @include m.grid(3,1rem);

    @include m.phone{
        display:block;
    }
    
    .categoria{
        display: inline-block;
        position: relative;
        width: 100%;
        height: 100%;
        max-width: 40rem;
        overflow: hidden;
        transition: all 0.3s ease 0s;
        margin-bottom: 1rem;

        @include m.tablet{
            max-width: 40rem;
        }
    }

    .img-categoria{
        color: inherit;
    }

    p{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        background-color: v.$verdeOscuro;
        color: v.$blanco;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        padding: .5rem .5rem;
        width: 20rem;
        border-radius: 1rem;
        box-shadow: .3rem .3rem 1rem #333;
    }

    img{
        border-radius: 1.5rem;
    }

    .categoria:hover{
        transform: scale(0.9);
    }

}



