.miPerfil{
    display: flex;
    flex-direction: column;
    gap: 6rem;

    h3{
        font-weight: bold;
        text-transform: uppercase;
        color: $verdeOscuro;
        margin: 0 0 1rem 0;
    }

    .nombre-apellido{
        text-transform: capitalize;
    }
}

.btn-cerrar-sesion{
    padding: 1rem 2rem;
    border: none;
    border-radius: .5rem;
    background-color: $rojo;
    color: $blanco;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
}