@use '../base/variables' as v;
@use '../base/mixins' as m;
@use 'sass:color';

.productos{
    padding-top: 2rem;

    h3{
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 3rem;
        color: v.$verdeOscuro;
    }

}

.grid-productos{

    @include m.grid(4, 1rem);

    @include m.tablet{
        @include m.grid(2,1rem);
    }
    
}

.producto{
    background-color: color.adjust(v.$grisClaro, $lightness: 5%);
    border: 0.1rem solid color.adjust(v.$grisClaro, $lightness: -10%);
    border-radius: 1rem;
    transition: all 0.3s ease 0s;

    img{
        border-radius: 1rem 1rem 0 0 ;
    }


    .producto-informacion{
        
        padding: 2rem;
        text-transform: capitalize;
        
        p{
            margin: .5rem 0;
            line-height: 1.2;
        }

        .producto-nombre{
            color: v.$verdeOscuro;
            font-weight: 500;
        }

        .producto-precio{
            color: v.$verdeOscuro;
            font-weight: bold;
            font-size: 2rem;
        }

    
    }
}

.producto:hover{

    transform: scale(1.01);

    .producto-nombre{
        
        border-bottom: .1rem solid v.$verdeOscuro;
    }
}





