.barra-busqueda {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background: #fff;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  z-index: 1000;
  transform: translateY(-100%);
  transition: transform 0.3s ease;
}

.formulario-busqueda{
  display: flex;
  justify-content: center;
  align-items: center;
}

.barra{
  width: 80%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.4rem;
}

.btn-buscar {
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
  background-color: $verdeOscuro;
  color: $blanco;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
}

.btn-cerrar {
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
  background-color: $rojo;
  color: $blanco;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.barra-busqueda.visible {
  transform: translateY(0);
}

.navegacion1.oculto,
.navegacion2.oculto {
  display: none;
}
