
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, 
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;

header {
    width: 100%;
    position: fixed;
}

}
body {
    font-family: $fuente_principal;
    font-optical-sizing: auto;
    font-style: normal;
    color: $negro;
    font-size: 1.6rem;
    
}

span{
    font-family: $fuente_principal;
}

p {
    color: $negro;
    line-height: 1.5;
}

.contenedor-fondos{
    width: 100%;
    max-width: 132rem;
    border-radius: 1.5rem;
    margin: 0 auto;
}

.contenedor {
    width: 95%;
    max-width: 120rem;
    height: 100%;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
li{
    list-style: none;
}
h1, h2, h3 {
    margin: 0 0 5rem 0;
    font-weight: 900;
}
h1 {
    font-size: 4.6rem;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3rem;
}
img {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
}
body > section {
    padding: 3rem 0
}

