
@mixin phone{
    @media (max-width: $phone){
        @content;
    }
}

@mixin tablet{
    @media (max-width: $tablet){
        @content;
    }
}
@mixin desktop{
    @media (max-width: $desktop){
        @content;
    }
}
@mixin desktopXL{
    @media (max-width: $desktopXL){
        @content;
    }
}

@mixin grid($columnas, $espaciado){
    display: grid;
    grid-template-columns: repeat($columnas,1fr);
    gap: $espaciado;
}