//Tipografia 
$fuente_principal: 'Montserrat', sans-serif;

//colores
$verdeOscuro: #027373;
$verdeClaro: #038C7F;
$verdeGris: #A9D9D0;
$blanco: #FFF;
$negro: #0D0D0D;
$gris: #808080;
$grisClaro: #e1e1e1;
$rojo: #a01010;

//tamaños de media queries
$phone: 480px;
$tablet: 865px;
$desktop: 992px;
$desktopXL: 1200px;
