{% include "appvestier/base/header.html" %}

{% load static %}

{% block content %}

    <div class="contenedor politica">

        <div>
             <h3 class="subtitulo-h3">Politica de Reembolso</h3>
        
            <p>
                En Vestier Store aceptamos devoluciones dentro de los 7 días hábiles posteriores a la compra, siempre que el producto esté en su empaque original y sin uso. Los reembolsos se procesan por el mismo método de pago utilizado, y los gastos de envío corren por cuenta del cliente salvo que el producto presente defectos de fábrica o error en el pedido.
            </p>
        </div>

        <div>
              <h3 class="subtitulo-h3">Politica de Privacidad</h3>

            <p>
                En Vestier Store protegemos tu información personal y no la compartimos con terceros. Los datos recopilados se utilizan únicamente para gestionar pedidos y mejorar tu experiencia de compra. Puedes solicitar la modificación o eliminación de tu información en cualquier momento escribiendo a nuestro servicio de atención.
            </p>
        </div>
      

       
    </div>

{% endblock %}

{% include "appvestier/base/footer.html" %}